<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <!-- ***** Banner Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="main-profile ">
              <div class="row">
                <div class="col-lg-6 align-self-center">
                  <ul>
                    <li>Lists Created <span>{{ listCount }}</span></li>
                  </ul>
                </div>
                <div class="col-lg-6 center">
                  <div class="main-border-button">
                    <a href="{{ path('app_logout') }}">Disconnect</a>
                  </div>
                </div>
              </div>
              <!-- ***** Banner End ***** -->
            </div>
          </div>
        </div>
      </div>